@import "https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700";

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

header:after, #timeline .timeline-item:after, header:before, #timeline .timeline-item:before {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

html::before {
  background-image: url(MuroBicchieri.jpg);
}

body, html {
  height: 100%;
}

body {
  background: #f9f9f9;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: #726f77;
}

a {
  text-decoration: none;
}

a:hover {
  color: #726f77;
}

h1, h2 {
  display: block;
  margin: 0;
  font-family: "WastFont", "Dosis", arial, tahoma, verdana;
  font-weight: 500;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 1.5em;
}

.modal {
    display: flex;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    -webkit-transition: 0.35s;
    transition: 0.35s;
}

.modal-content {
    background-color: #f9f9f9;
    margin: auto;
    top: 10px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 80%;
}

.modal-content h2, .modal-content p {
  font-family: "Dosis", helvetica, arial, tahoma, verdana;
  color: #726f77;
  padding: 10px;
}

.modal-content p {
  max-height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.modal-content img {
  max-height: 200px;
  object-fit: contain;
  overflow: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.image-container {
  height: 85vh;
}

.hero-container {
  position: relative;
  top: 66px;
}

.timeline-container {
  padding: 1.5em;
  background-color: #f9f9f9;
  margin: 0 auto;
}

.preface, .closure {
  position: relative;
  margin: 2em;
  font-family: "Dosis", helvetica, arial, tahoma, verdana;
  font-size: 1.6em;
  text-align: center;
  color: white;
}

#timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  max-width: 1300px;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #726f77;
  left: 50%;
  top: 0;
  position: absolute;
}
#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

#timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
  opacity: 0;
}

#timeline .timeline-item .timeline-icon {
  background: #726f77;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#timeline .timeline-item .timeline-icon img {
  display: block;
  position: relative;
  margin: auto;
  max-width: 35px;
  top: 7.5px;
}

#timeline .timeline-item .timeline-content {
  width: 45%;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#timeline .timeline-item .timeline-content h2 {
  padding: 15px;
  background: #726f77;
  color: #fff;
  margin: -20px -20px 0 -20px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

#timeline .timeline-item .timeline-content:before {
  content: '';
  position: absolute;
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #726f77;
}

#timeline .timeline-item .timeline-content.right {
  float: right;
}

#timeline .timeline-item .timeline-content.right:before {
  content: '';
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid #726f77;
}

#timeline .timeline-item .timeline-content img {
  display: inline-block;
  width: 35%;
  height: 35%;
  align-self: center;
  margin: 1em auto;
}

.timeline-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.timeline-content p {
  padding-top: 0.5em;
  font-family: "Dosis", arial, tahoma, verdana;
  font-size: 1.2em;
}

.btn {
  padding: 5px 15px;
  text-decoration: none;
  background: transparent;
  border: 2px solid #726f77;
  color: #726f77;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-box-shadow: 2px 2px 0 #726f77;
  -moz-box-shadow: 2px 2px 0 #726f77;
  -ms-box-shadow: 2px 2px 0 #726f77;
  box-shadow: 2px 2px 0 #726f77;
}

.btn:hover {
  box-shadow: none;
  top: 2px;
  left: 2px;
  -webkit-box-shadow: 2px 2px 0 transparent;
  -moz-box-shadow: 2px 2px 0 transparent;
  -ms-box-shadow: 2px 2px 0 transparent;
  box-shadow: 2px 2px 0 transparent;
}

.end-title {
  text-align: center;
  position: relative;
  font-family: "WastFont", "Dosis", arial, tahoma, verdana;
  font-size: 3em;
  color: white;
}

@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
  }
  #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #726f77;
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }

  #timeline .timeline-item .timeline-content img {
    width: 60%;
    height: 60%;
  }

  .modal-content {
    width: 95%;
    max-height: 95%;
    padding: 10px;
  }

  .modal-content img {
    visibility: hidden;
    display: none;
  }

  h1 {
    font-size: 4em;
  }

  .preface, .closure {
    margin: 1.5em;
    font-size: 1.4em;
  }

}

@font-face {
  font-family: "WastFont";
  src: url("WastFont.ttf");
}
