@import "https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700";

html::before {
  content: ' ';
  display: block;
  background-image: url(VintageArcobaleno.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -10;
}

body, html {
  font-weight: 200 !important;
}

 h1, h2 {
	position: relative;
	display: inline-block;
	color: white;
  font-family: "WastFont", "Dosis", arial, tahoma, verdana;
	font-size: 7.5em;
	margin-bottom: 3%;
	margin-top: 2%;
}

h3 {
  font-weight: 200 !important;
}

img {
	max-width: 100%;
  max-height: 100%;
  -webkit-user-drag: none;
  user-drag: none;
  user-select: none;
}

.navbar img {
  height: 2em;
}

.navbar-collapse{
  text-align: center;
}

.navbar ul a {
  font-family: "WastFont", "Dosis", arial, tahoma, verdana;
}

.image-container {
	position: relative;
  height: 100vh;
}

.image-container-2 {
	position: relative;
  height: auto;
}

.image-overlay {
	position: absolute;
  background-color: black;
  opacity: 0.35;
  width: 100%;
  height: 100%;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	animation-name: fade-overlay;
	animation-duration:1.2s;
}

.image-overlay-text {
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;
}

.image-overlay-text-title {
	text-align: center;
	color: white;
	font-size: 3.5em;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero-container a {
	display: block;
	position: relative;
	width: 280px;
  margin-top: 0.5em;
  color: white;
  opacity: 0;
  font-size: 2.8em;
  text-align: center;
  text-decoration: none;
	border: 1px solid white;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 3px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
  animation-delay: 0.5s;
}

.hero-container a:hover {
	background-color: rgba(255, 255, 255, 0.25);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.hero-container a:active {
  background-color: rgba(255, 255, 255, 0.35);
  -webkit-transition: 0.3s;
	transition: 0.3s;
}

.main-title {
	text-align: center;
	position: relative;
	opacity: 0;
}

.divisor {
	width: 20%;
	height: 4px;
	margin: 2% auto;
	background-color: white;
}

.image-overlay-text-description {
	text-align: center;
	color: white;
	font-size: 1.2em;
}

.navbar-wast {
	background-color: rgba(0, 0, 0, 0);
  position: fixed;
  z-index: 100;
  width: 100%;
  font-size: 2.2em;
	-webkit-transition: 0.8s;
	transition: 0.8s;
}

.overlay-darken {
	opacity: 0.8;
	z-index: 5;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.navbar-darken {
	background-color: rgba(0, 0, 0, 0.8);
}

.products {
	background-color: #333;
}

.products-title {
  padding-top: 0.5em;
  font-family: "WastFont", "Dosis", arial, tahoma, verdana;
  font-size: 4em;
  text-align: center;
  color: white;
}

.products-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.product {
	position: relative;
	width: 40%;
	opacity: 0;
	margin: 50px auto;
}

.product a:hover {
	text-decoration: none;
}

.product img:hover {
	box-shadow: 0px 2px 20px #777;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.product-title {
	text-align: center;
	color: white;
  padding-top: 4px;
}

.fa-instagram {
	margin: 40px 0 20px 0;
}

.fa-instagram span {
	position: relative;
	font-size: 0.5em;
	bottom: 0.35em;
  font-family: sans-serif;
}

.footer-notes {
	font-size: 0.8em;
	padding: 2em;
}

footer {
	position: absolute;
	width: 100%;
	text-align: center;
	background-color: #BBB;
	color: #333;
}

footer a {
	color: #333;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

footer a:hover {
	color: #666;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.to-fall {
	position: relative;
}

.move-up {
	animation-name: move-up;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.rotate-and-fall {
	animation-name: rotate-and-fall;
	animation-duration: 2.2s;
	animation-fill-mode: forwards;
}

@keyframes fade-overlay {
  from {opacity: 0.8;}
}

@keyframes move-up {
	from {top: 75px; opacity: 0;}
  to {top: 0px; opacity: 1;}
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes rotate-and-fall {
	0%  	{top:0; opacity: 1;}
  20%		{top: 5px; opacity: 1; -ms-transform: rotate(20deg); -webkit-transform: rotate(20deg); transform: rotate(20deg);}
  40% 	{top: 20px; opacity: 0.9; -ms-transform: rotate(30deg); -webkit-transform: rotate(30deg); transform: rotate(30deg);}
	80% 	{top: 200px; opacity: 0.15; -ms-transform: rotate(9deg); -webkit-transform: rotate(9deg); transform: rotate(9deg);}
  100%	{top: 282px; opacity: 0; -ms-transform: rotate(8deg); -webkit-transform: rotate(8deg); transform: rotate(8deg);}
}

@media screen and (max-width: 992px) {
  .product {
		width: 45%;
	}
}

@media screen and (max-width: 700px) {

	.products-container {
		flex-direction: column;
	}
	.product {
		width: 98%;
		margin: 5% auto;
	}

	h1, h2 {
		font-size: 6em;
	}

  .hero-container a {
    font-size: 2.2em;
    width: 200px;
  }
}

@font-face {
  font-family: "WastFont";
  src: url("WastFont.ttf");
}
